body{
font-family:Poppins;
background:#f5f7ff;
padding:40px;
}

h2{
color:#243a8a;
}

table{
border-collapse:collapse;
margin-top:20px;
width:400px;
}

td{
padding:12px;
border-bottom:1px solid #ddd;
}

button{
padding:10px 18px;
border:none;
border-radius:20px;
background:linear-gradient(90deg,#6a5acd,#ff6ec4);
color:white;
cursor:pointer;
}